<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grid Game</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="grid.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="keymaster.js"></script>
</head>
<body>
	<div id="grid"></div>
</body>
</html>